* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Times New Roman", Times, serif; }

.line {
  max-width: 1200px;
  border-top: 1px solid #eee;
  margin: 20px auto; }

.nav_header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  margin-top: 0px;
  align-items: center;
  padding: 20px 30px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.a-style {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 4px;
  color: black; }
  .a-style:hover {
    background-color: #cccccc; }

.hamburger {
  min-width: 500px;
  max-width: 1600px;
  position: relative;
  margin: 0 auto; }

.le-catering {
  position: absolute;
  color: #57585c;
  bottom: 25px;
  left: 25px;
  letter-spacing: 4px;
  font-size: 36px; }

@media only screen and (max-width: 600px) {
  .rests {
    display: none; }
  .hamburger {
    width: 100%; } }

.footer {
  color: #000;
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .footer a {
    cursor: pointer;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px; }
    .footer a:hover {
      color: #60b764; }

.about-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px !important;
  padding-bottom: 64px !important; }
  .about-container__meal {
    width: 49.9%;
    padding: 12px 24px !important; }
    @media only screen and (max-width: 600px) {
      .about-container__meal {
        display: none; } }
  .about-container__description {
    width: 49.9%;
    padding: 12px 24px !important;
    height: max-content; }
    @media only screen and (max-width: 600px) {
      .about-container__description {
        width: 100%; } }
    .about-container__description__about-catering {
      font-family: "Playfair Display";
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 5px;
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      margin: 10px 0;
      line-height: 1.5; }
    .about-container__description__tradition {
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      line-height: 1.5; }
    .about-container__description__info-catering {
      font-size: 18px;
      line-height: 1.5; }
      .about-container__description__info-catering .seasonal {
        padding: 5px 10px;
        background-color: #f1f1f1; }
    .about-container__description__gray-text {
      color: #757575;
      font-size: 18px;
      line-height: 1.5; }
      @media only screen and (max-width: 993px) {
        .about-container__description__gray-text {
          display: none; } }
      @media only screen and (max-width: 600px) {
        .about-container__description__gray-text {
          display: block; } }

.menu-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px !important;
  padding-bottom: 64px !important; }
  @media only screen and (max-width: 993px) {
    .menu-container {
      flex-wrap: wrap; } }
  .menu-container__menu-wrapper {
    padding: 12px 24px !important;
    width: 49.9%; }
    @media only screen and (max-width: 993px) {
      .menu-container__menu-wrapper {
        width: 100%; } }
    .menu-container__menu-wrapper__our-menu {
      margin-bottom: 30px;
      font-family: "Playfair Display";
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .menu-container__menu-wrapper__menu-part {
      padding: 15px;
      margin-bottom: 15px; }
      .menu-container__menu-wrapper__menu-part__food {
        font-family: "Playfair Display";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 5px;
        font-family: "Times New Roman", Times, serif; }
        .menu-container__menu-wrapper__menu-part__food__food-description {
          font-size: 15px;
          color: #757575; }

.meal2 {
  padding: 12px 24px !important;
  width: 49.9%; }
  @media only screen and (max-width: 993px) {
    .meal2 {
      width: 100%; } }

.table-setting2 {
  opacity: 0.7; }

.contact-container {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  max-width: 1200px;
  margin: 0 auto; }
  .contact-container__contact-wrapper {
    width: 100%;
    padding: 12px 24px !important; }
    .contact-container__contact-wrapper__header {
      font-family: "Playfair Display";
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 5px;
      font-family: "Times New Roman", Times, serif;
      margin: 10px 0; }
    .contact-container__contact-wrapper__we-offer {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 1.5; }
    .contact-container__contact-wrapper__catering-service {
      font-size: 18px;
      color: #607d8b;
      margin-bottom: 18px;
      margin-top: 18px; }
    .contact-container__contact-wrapper__you-can {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 18px;
      margin-top: 18px; }
    .contact-container__contact-wrapper__input {
      padding: 16px 8px;
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      font: inherit; }
    .contact-container__contact-wrapper__button {
      color: #000;
      background-color: #f1f1f1;
      margin-top: 16px;
      margin-bottom: 16px;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
      font: inherit; }
      .contact-container__contact-wrapper__button:hover {
        background-color: #cccccc; }
