.about-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  // justify-content: space-around;

  &__meal {
    width: 49.9%;
    padding: 12px 24px !important;

    @include underTabletOnly(600px) {
      display: none;
    }
  }

  &__description {
    width: 49.9%;
    padding: 12px 24px !important;
    height: max-content;

    @include underTabletOnly(600px) {
      width: 100%;
    }

    &__about-catering {
      @include headerStyle(36px);
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      margin: 10px 0;
      line-height: 1.5;
    }

    &__tradition {
      @include headerStyle(18px);
      @include flexbox();
      margin: 10px 0;
      line-height: 1.5;
    }

    &__info-catering {
      font-size: 18px;
      line-height: 1.5;

      .seasonal {
        padding: 5px 10px;
        background-color: #f1f1f1;
      }
    }

    &__gray-text {
      color: #757575;
      font-size: 18px;
      line-height: 1.5;

      @include underTabletOnly(993px) {
        display: none;
      }

      @include underTabletOnly(600px){
        display: block;
      }
    }
  }
}
